[Unit]
Description=Signal container

[Container]
AutoUpdate=registry
ContainerName=signal-api
EnvironmentFile=signal.env
Image=docker.io/bbernhard/signal-cli-rest-api:latest
LogDriver=k8s-file
LogOpt=max-size=1m
LogOpt=max-file=1
Pod=signal.pod
Pull=newer
StartWithPod=true
Volume=signal-data.volume:/home/.local/share/signal-cli:rw,Z

[Service]
Restart=always
TimeoutStartSec=900