[Unit]
Description=Kafbat UI container

[Container]
AutoUpdate=registry
ContainerName=kafka-ui
EnvironmentFile=kafka-ui.env
Image=docker.io/kafbat/kafka-ui:latest
LogDriver=k8s-file
LogOpt=max-size=1m
LogOpt=max-file=1
Pod=kafka.pod
Pull=newer
StartWithPod=true

[Service]
Restart=always
TimeoutStartSec=900
