[Unit]
Description=Kafka broker and controller container

[Container]
AutoUpdate=registry
ContainerName=kafka
EnvironmentFile=kafka.env
Image=docker.io/apache/kafka-native:latest
LogDriver=k8s-file
LogOpt=max-size=1m
LogOpt=max-file=1
Pod=kafka.pod
Pull=newer
StartWithPod=true

[Service]
Restart=always
TimeoutStartSec=900
